#comments-panel{
    position: fixed;
    bottom: 10px;
    right:  10px;
    width: 20vw;
    height: 80%;
    padding: 10px 5px;
    border-radius: 5px;
    min-width: 320px;
    background-color: #505050;
    color: white;
}

.comments-panel-container{
    position: relative;
    height: 100%;
}

.comments-panel-open-toggler{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: red;
}

.close-comment-panel{
    color: #D04343 !important;
}

.separator{
    display: block;
    width: 95%;
    height: 1px;
    background: #fff;
    margin: 0 auto;
    margin-top: 5px;
}

.comments-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comments-header-title{
    width: 80%;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.comments-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.comments-footer-text{
    font-size: 12px;
    text-align: center;
}

.comments-content{
    margin-top: 15px;
    max-height: 88%;
    overflow-y: auto;
}

/* Phone */
@media screen and (max-width: 700px) {
    #comments-panel {
      width: 95%;
      height: 80%;
    }
}
  