.search-container {
  width: 35vw;
  display: flex;
  justify-content: center;
}

.searchbar {
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 4px;
  border: none;
  padding: 5px;
  width: 100%;
}
  
.searchbar:focus {
  box-shadow: 0px 5px 10px gray;
  transition-duration: 400ms;
}

.search-actions{
  margin: 5px 0;
}