.audio-container {
  /* height: 150px; */
  border-radius: 7px;

  flex-wrap: wrap;
  align-content: space-between;
  /* min-width: 200px;
  max-width: 400px; */
  color: white;
  /* width: 25%; */
}

.audio-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

.audio-title {
  width: 100%;
  height: fit-content;
  margin: 0 !important;
  z-index: 1;
  display: contents;
}

.audio-action {
  justify-content: end;
  width: 100%;
  height: fit-content;
  display: flex;
}

.audio-action-item {
  cursor: pointer;
  color: aliceblue;
}

.theme--light.v-icon {
  color: inherit;
}
