.audio-container {
  display: flex;
  flex-direction: column;
  color: white;
  overflow-x: hidden;
  min-height: 200px;
  max-height: 250px;
  background: #0000007d;
  border-radius: 5px;
  font-size: 14px;
}

.audio-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 ;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.audio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audio-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
  overflow: hidden;
}

.audio-image:hover{
  filter: blur(1px);
}

.audio-title {
  width: 100%;
  text-wrap: nowrap;
}

.audio-footer{  
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.audio-action { 
  height: fit-content;
  align-items: center;
  display: flex;
  gap: 5px;
}

.audio-action-item {
  cursor: pointer;
  color: aliceblue;
  width: 12px;
  font-size: 12px;
}

.theme--light.v-icon {
  color: inherit;
}

.scrollingTextContainer {
  width: 300px; /* Largeur fixe pour la div de défilement */
  overflow: hidden; /* Cache le contenu dépassant de la div */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.scrollingText {
  display: inline-block; /* Permet au texte de dépasser horizontalement */
  animation: scrollText 10s linear infinite; /* Animation de défilement */
}
.categories{
  display: flex;
  gap: 4px;
}

.author-link{
  color: whitesmoke !important;
}

.like-count{
  color: red;
  right: 0;
  
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Commence en dehors de la div à droite */
  }
  100% {
    transform: translateX(-100%); /* Se termine en dehors de la div à gauche */
  }
}