.grid {
  display: grid;
  grid-gap: 0.75rem;
}

.grid-x-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* grid-template-columns: repeat(6, calc((95% / 6) - 4px)); */
}

.grid-x-4 {
  grid-template-columns: repeat(5, calc((96% / 5) - 2px));
  
}
.audio-collection {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  list-style-type: none;
  padding: 0 !important;
  max-height: calc(100vh - 280px);
  overflow-y: auto;
}

/* Phone */
@media screen and (max-width: 600px) {
  .grid-x-6, .grid-x-4{
    grid-template-columns: repeat(2, calc((100% / 2) - 4px));
  }

  
}
/* Tablet */
@media screen and (min-width: 600px) and (max-width: 800px) {
  .grid-x-6, .grid-x-4 {
    grid-template-columns: repeat(4, calc((100% / 4) - 4px));
  }
}
