html{
    overflow-y: hidden;
}

.no-radius{ border-radius: 0 !important; }

.bg-red{ background-color: #B02929; }
.bg-dark{ background-color: #1A1D21; }

.text-center{ text-align: center;}

.audios-controller{
    height: 60px;
    align-items: center;
}.audios-controller-content{
    width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 15px;
}
.slider-time{ 
    width: 2000px;
    height: 40px;
}   

.home-content{
    overflow-x: scroll;
    padding: 0 !important;
}
.pist-container{
    overflow-x: auto;
    height: calc(100% - 40px);
}
/* .v-main{ max-width: none !important;} */
.v-content { padding: 0 !important;}
.v-card{ max-width: none !important; }


.text-white{
    color: white !important;
}

.text-orange{ color: #F24E1E !important;}
.text-green{ color: #4CAF50 !important;}


#bottom-panel-container{ width: 300px;}
#bottom-panel{
    position: fixed;
    bottom: 0;
    left: calc(50% - 300px);
    width: 600px;
}

@media screen and (min-width: 600px){
    .audios-controller-content{
        width: 500px;
    }
}   

.dark{
    background-color: #1A1D21;
    color: white;
}

#session-manager{
    position: absolute;
    bottom: 1px;
}