.volume-slider {
    width: 200px;
    margin: 50px auto;
  }
  
.volume-range-input{
  height: 5px;
  overflow: hidden;
  width: 100%;
}


.volume-range-input::-webkit-slider-thumb {
  cursor: ew-resize;
}

