#animated_background {
  height: calc(100vh - 64px);
  width: 100%;
}

#auth-card {
  position: relative;
  top: -100px;
}

.svg_container {
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  animation: animate 5s linear infinite;
}

.svg {
  z-index: 99;
  width: 60% !important;
  height: auto;
  fill: red;
}
/* 
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%{
       opacity: 1;
    }

    90%{
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-1000%) rotate(260deg);
        opacity: 0;
    }
} */
