.track-item, .track-item-line-top, .track-item-line-bottom{
    display: flex;
}

.track-item{
    /* padding: 15px 10px; */
    margin: 10px 0;
    padding-right: 10px;
    background-color: #ffffff0b;
    width: 100%;
    align-items: center;
    border-radius: 10px;
}

.track-img-container{
    display: flex;
    width: 20%;
    object-fit: contain;
}

.track-img{
    object-fit: cover;   
    height: 90px;
    width: 100%;
    border-start-start-radius: 10px;
    border-bottom-left-radius: 10px;
}

.track-item-content{
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
}

.track-item-line-top{
    font-size: 14px;    
    width: 100%;
    justify-content: space-between;
}

.track-item-line-bottom{
    font-size: 12px;    
    font-size: 14px;    
    width: 100%;
    justify-content: space-between;
}


.track-item-line-center{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}