#profile-head {
  width: 100%;
}

#profile-tab{
  margin-top: 1rem;
  font-size: 1.2rem;
  color: white;
}

/* ? gap-1 = 3px */
.gap-5{
  gap: 15px;
}

.profile-view-selector{
  cursor: pointer;
  transition: all 400ms;
}

.profile-view-selector.active{
  border-bottom: 0.4px solid #ffffff88;
}

.profile-content-header{
  display: flex;
  align-items: center;
  width: 100%;
}

.profile-content-content{
  max-height: 60vh;
  overflow-x: auto;
}